$font-path: '../../Fonts';

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	src: url('#{$font-path}/Montserrat-Regular.ttf') format('truetype');
}

.app {
	text-align: center;

	* {
		font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
}
